test_data/
mix_figs/
output_pickles/
err_logs/
old_test_scripts/
*_sheet_link.txt
.gsheet_cache.p
*.backup
.cnmf_gui_user.p
.default_cnmf_params.json
*.p
*.txt
.eggs/
*.egg-info/
*.svg
*.png
*.pdf
*.roi
*.tif
test.tex
