
# Consider using something like: https://stackoverflow.com/questions/17803829
# to organize my requirements perhaps by what needs them, which URLs to use for
# the custom libraries, or both.
# Maybe just simpler to always install everything though...

# This one might not be strictly necessary. The errs that seemed to happen
# during pip install w/o it might not be fatal, assuming other installation
# options exist besides the .whl format (like sdists).
wheel

psycopg2-binary
sqlalchemy
h5py
numpy
scipy
matplotlib
seaborn

# 0.25.1 seemed to work for much of at least early 2020. More versions also
# likely work, but if transferring pickled pandas objects between installations,
# it becomes more important to match the pandas versions.
#pandas
pandas==0.25.1

scikit-learn
gitpython
ipdb

# Aiming to guarantee that at least the matplotlib backend 'Qt5Agg' will work.
# (but does system Qt5 need to be installed separately? order of that vs. pip
# install matter?)
# Clearing some pip cache might have also solved it, but I just picked this
# specific version because https://stackoverflow.com/questions/59768179
# indicated it could fix an error I encountered when installing version
# selected (5.14.2) without specifying.
PyQt5==5.14

# TODO some way to specify these urls in an authentication agnostic way,
# so it defaults to ssh if we have that set up?
# (might matter if i point to private repos this way)
# TODO test these don't get installed to overwrite my local editable copies,
# as long as i have the editable versions installed
# TODO some way to only need to type in username if pip would actually have to
# install these (now, if they are installed, pip still wants to clone them)

# If you do NOT have SSH authentication setup for your git, you will need
# to change all of these URLs to the versions using the https://... URLs.
# (assuming some of these are private, at least)

-e ../chemutils
#git+ssh://git@github.com/ejhonglab/chemutils
#git+https://github.com/tom-f-oconnell/drosolf

-e ../drosolf
#git+ssh://git@github.com/tom-f-oconnell/drosolf
#git+https://github.com/ejhonglab/chemutils

# If using Matt Bauer's mushroom body model
# seems I can't actually install a working copy this way
# TODO double check this though, cause it looks like i have (maybe in addition?)
# memory issues
#-e ../olfsysm
git+ssh://git@github.com/ejhonglab/olfsysm
#git+https://github.com/ejhonglab/olfsysm

# If using neuprint to parameterize Matt's model.
-e ../neuprint_helper
#git+ssh://git@github.com/ejhonglab/neuprint_helper
#git+https://github.com/ejhonglab/neuprint_helper

# If using PDF report generation
latex
jinja2

# TODO could specify my patched version of pyqtgraph w/ github link?
# (neither of my main computers (atlas & blackbox) had my fork of pyqtgraph in
# ~/src 2020-05-26, so what my fork was doing is not that critical now. it still
# may be for some of the really old gui.py stuff, specifically the first work i
# did making a gui to annotate the quality of ROIs

