wheel
psycopg2-binary
sqlalchemy
h5py
numpy
scipy
matplotlib
seaborn

# 0.25.1 seemed to work for much of at least early 2020. More versions also
# likely work, but if transferring pickled pandas objects between installations,
# it becomes more important to match the pandas versions.
pandas

scikit-learn
gitpython
ipdb

# Aiming to guarantee that at least the matplotlib backend 'Qt5Agg' will work.
# (but does system Qt5 need to be installed separately? order of that vs. pip
# install matter?)
# Clearing some pip cache might have also solved it, but I just picked this
# specific version because https://stackoverflow.com/questions/59768179
# indicated it could fix an error I encountered when installing version
# selected (5.14.2) without specifying.
PyQt5==5.14

# TODO some way to specify these urls in an authentication agnostic way,
# so it defaults to ssh if we have that set up?
# (might matter if i point to private repos this way)
# TODO test these don't get installed to overwrite my local editable copies,
# as long as i have the editable versions installed
# TODO some way to only need to type in username if pip would actually have to
# install these (now, if they are installed, pip still wants to clone them)

# If you do NOT have SSH authentication setup for your git, you will need
# to change all of these URLs to the versions using the https://... URLs.
# (assuming some of these are private, at least)

git+ssh://git@github.com/ejhonglab/chemutils
#git+https://github.com/tom-f-oconnell/drosolf

git+ssh://git@github.com/tom-f-oconnell/drosolf
#git+https://github.com/ejhonglab/chemutils

# Just if using Matt Bauer's mushroom body model
git+ssh://git@github.com/ejhonglab/olfsysm
#git+https://github.com/ejhonglab/olfsysm

# Just for PDF report generation
latex
jinja2

# TODO could specify my patched version of pyqtgraph w/ github link?
# (neither of my main computers (atlas & blackbox) had my fork of pyqtgraph in
# ~/src 2020-05-26, so what my fork was doing is not that critical now. it still
# may be for some of the really old gui.py stuff, specifically the first work i
# did making a gui to annotate the quality of ROIs

