
# TODO is there a better way to specify these? looks like suite2p puts their in setup.py
# extras_require={'docs': <list here>}, but i'm not sure if that's the only place they
# have it or what the install process looks like

# TODO try un-pinning and fixing process for more modern sphinx (/ other deps)?

sphinx==3.5.4
sphinx-rtd-theme==0.5.2

sphinxcontrib-apidoc==0.3.0

sphinx-prompt==1.4.0
sphinx-autodoc-typehints==1.12.0

# See comments in conf.py "Path setup" section
-e ..
